<main>


  <div class="period-container">

    <p class="period"> Period: {{plays?.[actualPlay]?.period?.number}} </p>
    <p class="actual-play"> {{plays?.[actualPlay]?.type?.text}} - <span
        class="actual-play-span">{{plays?.[actualPlay]?.clock?.displayValue}}</span></p>

  </div>


  <div class="game-container">

    <p class="game">{{plays?.[actualPlay]?.shortAlternativeText}}</p>

    <div class="score-container">
      <p [style.color]=" '#' +awayTeamData?.team?.color">{{plays?.[actualPlay]?.awayScore}}</p>
      <span> : </span>
      <p [style.color]=" '#' +homeTeamData?.team?.color"> {{plays?.[actualPlay]?.homeScore}}</p>
    </div>

    <div class="btn-container">
      <button (click)="changeActualPlay(-1)">Previous</button>
      <button (click)="changeActualPlay(+1)">Next</button>
    </div>

    <canvas class="field" #field width="500" height="250"></canvas>

  </div>
</main>