:root {
  --main-color: #f0edff;
  --second-color: #ffe4de;
  --text-color: #ececec;
  --other-color: #cb857e;

  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  height: max-content;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-y: auto;
  background-color: black;
  background-image: url(assets/images/b.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}



@media (max-width: 530px) {
  body {
    background-position: -65rem center;
  }
}

@media (min-width: 1700px) {
  :root {
    font-size: 20px;
  }

  mat-form-field {
    height: 5rem;
  }
}
