<main class="main">
  <div class="container-head">
    <div class="heading-container">
      <h1  *ngIf="eventData"  >{{ eventData?.name }} </h1>
      <h2 *ngIf="eventData"  > {{ eventData?.date | date:'fullDate'}} </h2>
    </div>


    <div *ngIf="!showPlays && homeTeamData && awayTeamData" class="result-container">
      <div class="team-container">
        <div class="displayName">
          <span class="remainingParts">{{teamRest}}</span> <span [ngStyle]="{'color': homeTeamData?.team?.color ? '#' + homeTeamData.team.color : 'inherit'} " class="lastPart">{{teamPart}}</span>
        </div>

        <p>{{homeTeamScore}}</p>
        <img src="{{homeTeamData?.team?.logos?.[0]?.href}}" alt="">
      </div>

      <p class="vs">vs</p>

      <div class="team-container">
        <div class="displayName">
         <span class="remainingParts">{{awayRest}}</span><span [ngStyle]="{ 'color': awayTeamData?.team?.color ? '#' + awayTeamData.team.color : 'inherit'}" class="lastPart">{{awayPart}}</span>
        </div>

        <p> {{awayTeamScore}}</p>
        <img src="{{awayTeamData?.team?.logos?.[0]?.href}}" alt="">
      </div>
    </div>

    <div *ngIf="showPlays && homeTeamData && awayTeamData">
      <plays [homeTeamData]="homeTeamData" [awayTeamData]="awayTeamData" [eventId]="eventData.id"></plays>
    </div>

    <button class="playBtn" *ngIf="!showPlays" (click)="playComponent()">Play!</button>
    <button class="backBtn" *ngIf="showPlays" (click)="playComponent()">Back</button>
    <!-- <button  (click)="showTime()">Back</button> -->

  </div>

</main>