<main>
    <div class="player-header">
        <div class="player-headshot">
            <h2>{{athleteData?.fullName}}</h2>
            <div class="player-detail">
                <img class="player-photo" src="{{athleteData?.headshot?.href}}" alt="">
            </div>
        </div>
        
        <div class="player-info">
            <!-- <p>Birthplace: {{athleteData?.birthPlace?.city}}, {{athleteData?.birthPlace?.state}}</p> -->
            <p>Birthplace: {{athleteData?.birthPlace | birthplace}}</p>
            <!-- <p>Birthplace: {{undefined | birthplace}}</p>
            <p>Birthplace: {{undefined | birthplace: '***'}}</p> -->
            <p>Position: {{athleteData?.position?.name}}</p>
            <p>Weight: {{athleteData?.displayWeight}}</p>
            <p>Height: {{athleteData?.displayHeight}}</p>
            <p>Jersey: {{athleteData?.jersey}}</p>
            <p>Age: {{athleteData?.age}}</p>
        </div>
    </div>

    <div class="tabs">
        <button (click)="selectTab('statistics')" [class.active]="selectedTab === 'statistics'">Statistics</button>
        <button (click)="selectTab('game-log')" [class.active]="selectedTab === 'game-log'">Game Log</button>
        <button (click)="selectTab('news')" [class.active]="selectedTab === 'news'">News</button>
    </div>

    <div class="tab-content" *ngIf="selectedTab === 'statistics'">
        <statistics-page [athleteOverview]="athleteOverview"></statistics-page>
    </div>

    <div class="tab-content" *ngIf="selectedTab === 'game-log'">
        <game-log-page [athleteOverview]="athleteOverview"></game-log-page>
    </div>

    <div class="tab-content" *ngIf="selectedTab === 'news'">
        <news-page [athleteOverview]="athleteOverview"></news-page>
    </div>
</main>