main {
    backdrop-filter: blur(0.9rem) brightness(0.7);
    border-radius: 2.3rem;
    color: var(--text-color);
    padding: 1rem 3rem 1.3rem;

    h1,
    h2,
    h3 {
        margin: 0;
    }

    .player-header {
        position: relative;
        height: max-content;
        display: flex;
        justify-content: space-between;
        align-items: center;

        flex-direction: row;
        margin-bottom: 2rem;
        padding: 1.3rem 0 2rem;

        .player-headshot {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            min-height: 11rem;
            height: auto;

            h2 {
                font-size: 1.3rem;
                color: var(--second-color);
            }

            .player-detail {
                position: relative;
                width: 9.3rem;
                height: 8rem;
                object-fit: cover;
                top: 0.5rem;

                .player-photo {
                    position: relative;
                    border-radius: 1.2rem;
                    background-image: linear-gradient(to bottom right, rgb(128, 64, 54), rgb(39, 62, 111));
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .player-info {
            position: relative;
            height: max-content;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            gap: .15rem;
            margin-top: .55rem;

            p {
                margin: 0;
            }
        }
    }

    .tabs {
        position: relative;
        top: -2rem;
        display: flex;
        gap: 1rem;


        button {
            display: inline-flex;
            position: relative;
            padding: .1rem;
            background-color: transparent;
            color: var(--text-color);
            border: none;
            cursor: pointer;
            font-size: .9rem;
            overflow: hidden;

            &::before {
                content: ' ';
                position: absolute;
                width: 100%;
                height: 1px;
                left: 2px;
                bottom: 0.15rem;
                background: var(--text-color);
                transform-origin: right;
                transform: scaleX(0);
                transition: transform 0.5s;
            }

            &:hover::before {
                transform-origin: left;
                transform: scaleX(1);
            }

            &.active::before {
                transform-origin: left;
                transform: scaleX(1);
                background: var(--second-color);
            }

            &.active {
                color: var(--second-color);
            }
        }
    }

    .tab-content {
        width: 610px;
        height: 350px;
    }
}


@media (max-width:790px) {
    main {
        padding: 1rem 2rem 1.3rem;

        .tab-content {
            width: 550px;
        }
    }
}

@media (max-width: 670px) {
    main {
        padding: 1rem 1.5rem 1.3rem;

        .tab-content {
            width: 500px;
        }
    }
}

@media (max-width: 575px) {
    main {
        padding: 1rem .7rem;

        .player-header {
            justify-content: space-evenly;
            padding: .7rem 0 1rem;
            margin-bottom: 1rem;

            .player-headshot {
                height: max-content;

                h2 {
                    font-size: 1rem;
                }

                .player-detail {
                    width: 7.7rem;
                    height: 6.9rem;
                }
            }

            .player-info {
                margin: 0;
                gap: 0;
                p {
                    font-size: .8rem;
                }
            }
        }

        .tabs {
            justify-content: center;
            top: -1rem;
        }

        .tab-content {
            width: 340px;
        }
    }
}