
<header>
    <h2 class="logo">M<span>&</span>S</h2>
    <p #myParagraph class="time"></p>
    <nav class="navigation">
      <!-- <a routerLink="'/team" routerLinkActive="active" ariaCurrentWhenActive="page">Team</a>
      <a routerLink="/stadium+id" routerLinkActive="active" ariaCurrentWhenActive="page">Stadium</a> -->
      <a href="#">Teams</a>
      <a href="games">Games</a>
      <a href="news-page">News</a>
      <a href=" search-page/">✓</a>
     
    </nav>
  </header>

  <section class="team">
    <!-- <Team-Page></Team-Page> -->
    <router-outlet></router-outlet>
  </section>
  
  <footer class="footer">
    <div class="footer-text">
        <p>Copyright &copy; 2024 By Cerwo | All Rights Reserved</p>
    </div>

    <div class="footer-logo">
        <span>MS</span>
    </div>
  </footer>
